body{
    max-width: 800px;
    margin: auto;
}
*{
    padding: 0;
    margin: 0;
}

header{
    background-color: orange;
    display: inline-block;
}

header>img{
    margin: 5px 10px;    
    width: 210px;
    float: left;

}
header>div{
margin: 40px 10px 20px 20px;
}

#headerIntro>h1,#headerIntro>h5{
    color: white;
    font-family:sans-serif;
    margin-bottom: 5px;
}

#headerIntro>p{
    color: white;
    font-family: sans-serif;
    font-size: medium;
    padding: 5px;
}

aside{
    float: left;
    padding-left: 10px;
    margin-top: 10px;
}

div>img{
    width: 17px;
    height: 17px;
    margin-top: 1px;
}

.col{
    display: table-cell;
    width: 30px;
}

li{
    list-style: none;
    line-height: 15pt;
}

section>h1{
    margin-left: 30px;
    margin-bottom: 5px;
    margin-top:5px;
    font: 22px bold;
}

#langMeter{
    display: block;
    width: 20px;
}
div>meter{
    height: 30px;
    width: 150px;
}
#engMeter::-webkit-meter-optimum-value { 
    background: orange; 
}

#skills{
    display: block;
    width: 10px;
}

section>meter::-webkit-meter-optimum-value{
 
    background: rgb(103, 165, 223); 
}


#gerMeter::-webkit-meter-optimum-value { 
    background: dodgerblue; 
}

#spanMeter::-webkit-meter-optimum-value { 
    background: red; 
}

section>img{
    width: 20px; 
    height: 20px;
    margin: 0px 10px;
}
#OnlineInfo >span{
    position: relative;
    bottom: 5px;
    font:small-caption;
}
section{
    margin-bottom: 10px;
    margin: 10px;
}

article>h1{
    background-color: orange;
    width: 230PX;
    color: white;
    padding: 8px;
}
#mainSection{
    float: left;
}
.hAndP{
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 5px;
}
footer>div{
    display: inline-block;
    width: 260px;
    height: 18px;
    margin: 20px 0px;
}
#redDiv{
    background-color: lightsalmon;
}
#yellowDiv{
    background-color: orange;
}
#lightBlurDiv{
    background-color: lightblue;
}

footer{
    clear: both;
    text-align: center;
}
